<table id="cann-table">
<thead> <th> Pts </th> <th> Clubs (GD) </th> </thead>
	<tr class="cann-row-1">
		<td class="cann-point">70</td>
		<td class="cann-clubs">
			<span class="club-name">Liverpool (42)</span>
		</td>
 	</tr>
	<tr class="cann-row-1">
		<td class="cann-point">69</td>
		<td class="cann-clubs">
		</td>
 	</tr>
	<tr class="cann-row-1">
		<td class="cann-point">68</td>
		<td class="cann-clubs">
		</td>
 	</tr>
	<tr class="cann-row-2">
		<td class="cann-point">67</td>
		<td class="cann-clubs">
		</td>
 	</tr>
	<tr class="cann-row-2">
		<td class="cann-point">66</td>
		<td class="cann-clubs">
		</td>
 	</tr>
	<tr class="cann-row-2">
		<td class="cann-point">65</td>
		<td class="cann-clubs">
		</td>
 	</tr>
	<tr class="cann-row-1">
		<td class="cann-point">64</td>
		<td class="cann-clubs">
		</td>
 	</tr>
	<tr class="cann-row-1">
		<td class="cann-point">63</td>
		<td class="cann-clubs">
		</td>
 	</tr>
	<tr class="cann-row-1">
		<td class="cann-point">62</td>
		<td class="cann-clubs">
		</td>
 	</tr>
	<tr class="cann-row-2">
		<td class="cann-point">61</td>
		<td class="cann-clubs">
		</td>
 	</tr>
	<tr class="cann-row-2">
		<td class="cann-point">60</td>
		<td class="cann-clubs">
		</td>
 	</tr>
	<tr class="cann-row-2">
		<td class="cann-point">59</td>
		<td class="cann-clubs">
		</td>
 	</tr>
	<tr class="cann-row-1">
		<td class="cann-point">58</td>
		<td class="cann-clubs">
		</td>
 	</tr>
	<tr class="cann-row-1">
		<td class="cann-point">57</td>
		<td class="cann-clubs">
		</td>
 	</tr>
	<tr class="cann-row-1">
		<td class="cann-point">56</td>
		<td class="cann-clubs">
		</td>
 	</tr>
	<tr class="cann-row-2">
		<td class="cann-point">55</td>
		<td class="cann-clubs">
		</td>
 	</tr>
	<tr class="cann-row-2">
		<td class="cann-point">54</td>
		<td class="cann-clubs">
			<span class="club-name">Arsenal** (28)</span>
		</td>
 	</tr>
	<tr class="cann-row-2">
		<td class="cann-point">53</td>
		<td class="cann-clubs">
		</td>
 	</tr>
	<tr class="cann-row-1">
		<td class="cann-point">52</td>
		<td class="cann-clubs">
		</td>
 	</tr>
	<tr class="cann-row-1">
		<td class="cann-point">51</td>
		<td class="cann-clubs">
			<span class="club-name">Nottingham Forest* (12)</span>
		</td>
 	</tr>
	<tr class="cann-row-1">
		<td class="cann-point">50</td>
		<td class="cann-clubs">
		</td>
 	</tr>
	<tr class="cann-row-2">
		<td class="cann-point">49</td>
		<td class="cann-clubs">
		</td>
 	</tr>
	<tr class="cann-row-2">
		<td class="cann-point">48</td>
		<td class="cann-clubs">
		</td>
 	</tr>
	<tr class="cann-row-2">
		<td class="cann-point">47</td>
		<td class="cann-clubs">
			<span class="club-name">Manchester City* (15)</span>
		</td>
 	</tr>
	<tr class="cann-row-1">
		<td class="cann-point">46</td>
		<td class="cann-clubs">
			<span class="club-name">Chelsea** (16)</span>
			<span class="club-name">Brighton &amp; Hove Albion* (6)</span>
		</td>
 	</tr>
	<tr class="cann-row-1">
		<td class="cann-point">45</td>
		<td class="cann-clubs">
			<span class="club-name">Aston Villa (-4)</span>
		</td>
 	</tr>
	<tr class="cann-row-1">
		<td class="cann-point">44</td>
		<td class="cann-clubs">
			<span class="club-name">Newcastle United** (8)</span>
		</td>
 	</tr>
	<tr class="cann-row-2">
		<td class="cann-point">43</td>
		<td class="cann-clubs">
			<span class="club-name">AFC Bournemouth** (13)</span>
		</td>
 	</tr>
	<tr class="cann-row-2">
		<td class="cann-point">42</td>
		<td class="cann-clubs">
			<span class="club-name">Fulham* (3)</span>
		</td>
 	</tr>
	<tr class="cann-row-2">
		<td class="cann-point">41</td>
		<td class="cann-clubs">
		</td>
 	</tr>
	<tr class="cann-row-1">
		<td class="cann-point">40</td>
		<td class="cann-clubs">
		</td>
 	</tr>
	<tr class="cann-row-1">
		<td class="cann-point">39</td>
		<td class="cann-clubs">
			<span class="club-name">Crystal Palace* (3)</span>
		</td>
 	</tr>
	<tr class="cann-row-1">
		<td class="cann-point">38</td>
		<td class="cann-clubs">
			<span class="club-name">Brentford* (4)</span>
		</td>
 	</tr>
	<tr class="cann-row-2">
		<td class="cann-point">37</td>
		<td class="cann-clubs">
		</td>
 	</tr>
	<tr class="cann-row-2">
		<td class="cann-point">36</td>
		<td class="cann-clubs">
		</td>
 	</tr>
	<tr class="cann-row-2">
		<td class="cann-point">35</td>
		<td class="cann-clubs">
		</td>
 	</tr>
	<tr class="cann-row-1">
		<td class="cann-point">34</td>
		<td class="cann-clubs">
		</td>
 	</tr>
	<tr class="cann-row-1">
		<td class="cann-point">33</td>
		<td class="cann-clubs">
			<span class="club-name">Tottenham Hotspur** (14)</span>
			<span class="club-name">Everton* (-4)</span>
			<span class="club-name">Manchester United** (-6)</span>
			<span class="club-name">West Ham United** (-15)</span>
		</td>
 	</tr>
	<tr class="cann-row-1">
		<td class="cann-point">32</td>
		<td class="cann-clubs">
		</td>
 	</tr>
	<tr class="cann-row-2">
		<td class="cann-point">31</td>
		<td class="cann-clubs">
		</td>
 	</tr>
	<tr class="cann-row-2">
		<td class="cann-point">30</td>
		<td class="cann-clubs">
		</td>
 	</tr>
	<tr class="cann-row-2">
		<td class="cann-point">29</td>
		<td class="cann-clubs">
		</td>
 	</tr>
	<tr class="cann-row-1">
		<td class="cann-point">28</td>
		<td class="cann-clubs">
		</td>
 	</tr>
	<tr class="cann-row-1">
		<td class="cann-point">27</td>
		<td class="cann-clubs">
		</td>
 	</tr>
	<tr class="cann-row-1">
		<td class="cann-point">26</td>
		<td class="cann-clubs">
		</td>
 	</tr>
	<tr class="cann-row-2">
		<td class="cann-point">25</td>
		<td class="cann-clubs">
		</td>
 	</tr>
	<tr class="cann-row-2">
		<td class="cann-point">24</td>
		<td class="cann-clubs">
		</td>
 	</tr>
	<tr class="cann-row-2">
		<td class="cann-point">23</td>
		<td class="cann-clubs">
			<span class="club-name">Wolverhampton Wanderers* (-19)</span>
		</td>
 	</tr>
	<tr class="cann-row-1">
		<td class="cann-point">22</td>
		<td class="cann-clubs">
		</td>
 	</tr>
	<tr class="cann-row-1">
		<td class="cann-point">21</td>
		<td class="cann-clubs">
		</td>
 	</tr>
	<tr class="cann-row-1">
		<td class="cann-point">20</td>
		<td class="cann-clubs">
		</td>
 	</tr>
	<tr class="cann-row-2">
		<td class="cann-point">19</td>
		<td class="cann-clubs">
		</td>
 	</tr>
	<tr class="cann-row-2">
		<td class="cann-point">18</td>
		<td class="cann-clubs">
		</td>
 	</tr>
	<tr class="cann-row-2">
		<td class="cann-point">17</td>
		<td class="cann-clubs">
			<span class="club-name">Ipswich Town* (-32)</span>
			<span class="club-name">Leicester City** (-36)</span>
		</td>
 	</tr>
	<tr class="cann-row-1">
		<td class="cann-point">16</td>
		<td class="cann-clubs">
		</td>
 	</tr>
	<tr class="cann-row-1">
		<td class="cann-point">15</td>
		<td class="cann-clubs">
		</td>
 	</tr>
	<tr class="cann-row-1">
		<td class="cann-point">14</td>
		<td class="cann-clubs">
		</td>
 	</tr>
	<tr class="cann-row-2">
		<td class="cann-point">13</td>
		<td class="cann-clubs">
		</td>
 	</tr>
	<tr class="cann-row-2">
		<td class="cann-point">12</td>
		<td class="cann-clubs">
		</td>
 	</tr>
	<tr class="cann-row-2">
		<td class="cann-point">11</td>
		<td class="cann-clubs">
		</td>
 	</tr>
	<tr class="cann-row-1">
		<td class="cann-point">10</td>
		<td class="cann-clubs">
		</td>
 	</tr>
	<tr class="cann-row-1">
		<td class="cann-point">9</td>
		<td class="cann-clubs">
			<span class="club-name">Southampton* (-48)</span>
		</td>
 	</tr>
</table>
<span id="cann-gen-note"> Generated on Sunday, 09 March 2025 at 08:01 JST.<br>* Each asterisk is a match in hand.</span>
